@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

.h-signup{
    font-weight: 600;
}
.main::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url('../images/Light.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -11;
}

.main{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}


.signup-form {
    /* position: relative; */
    width: 600px;
    height: 550px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}